.GamePage {
    text-align: center;
}

.GamePage .backgroundGamePage {
    background-size: cover;
    width: 100%;
}

.topGame {
    margin-top: 120px
}

.listToGame {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 40px;
    justify-content: center;
}

.cardGame {
    transition: transform 0.5s;
    position: relative;
}

.cardGame img{
    border-radius: 25px ;
}

.cardGame .gameInfo {
    position: absolute;
    z-index: 2;
    left: 18px;
    right: 18px;
    bottom: 35px;
}

.gameInfo h3 {
    color: white !important;
    font-weight: 700;
    font-size: 25px;
}

.gameInfo p {
    color: white !important;
    font-weight: 400;
    font-size: 15px;
    height: 80px;
}

.cardGame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 28.18%, #1D3982 91.99%);
    z-index: 1;
    border-radius: 25px;
}
.sliderHidden {
    display: none;
}

.cardGame:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 480px) {
    .cardGame:hover {
        transform: scale(1);
    }

    .listToGame {
        display: none;
    }
    .sliderHidden {
        display: block;
    }
    
}
@media (min-width:481px) and (max-width:1024px) {
    .listToGame{
        gap: 30px
    }
}
