.cover .slick-slider {
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
}

.cover img{
    width: 100%;
}


 @media only screen and (max-width: 900px) {
    .contentCover p{
        font-size: 14px;
    }

    .cover .slick-slider{
        width: 70%;
    }
}
