.homePage {
    text-align: center;
    margin-top: 100px;
}

#slogan {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E1C31;
}

#slogan2 {
    color: #1E1C3199;
    font-size: 25px;
    font-weight: 600;
}

.content h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
}
button{
    background: #4270EC;
    border-radius: 15px;
    width: 170px;
    height: 49px;
    color: white;
    font-weight: 500;
    border-style: hidden;
}
button:hover{
    background-color: #2a5de7;
}
p{
    font-weight: 400;
    font-size: 18px;
    color:#1E1C31;
}
.backgroundHome{
    justify-content: center;
    display: flex;
 
}


.Company{
    margin-top: 120px;    
}


.companyBG{
    position: relative;
    width: 100%;
}
.companyBG img{
    width: 90%;
    height: auto;
    opacity: 0.9;
}

.companyBG button{
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;
    
}

.client{
    margin-top: 120px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 50px !important;
    }
    h2{
        font-size: 32px;
        margin-left: 20px;
        margin-right: 20px;
    }
    button{
        width: 120px;
        height: 40px;
    }
    .intro img{
        width: 150px;
        height: 260px;
    }
    .backgroundHome img{
        width: 100%;
    }
}



