.Footer{
    color: #222136;
    margin: 230px 141px 0 141px;
}

.Footer h5{
    font-weight: bolder !important;
    font-size: 18px;
    line-height: 28px;
}

#input_email{
    border-radius: 9px;
    border-style: hidden;
    width: 70%;
    height: 40px;
    background-color: #ECF0FC;
    padding-left: 20px;
}
.ant-col{
    width: 100%;
}

.Footer p{
    font-size: 14px !important;
}

.Footer .Icon{
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .Footer{
        color: #222136;
        margin: 70px 20px 0 20px;
        text-align: center;
    }
    .Footer .logoBottom{
        height: 40px;
    }
    .ant-col{
        margin-top: 5px;
    }
    .hidden{
        display: none;
    }
    .Icon{
        height: 60px;
        width: 60px;
    }


}
