.listGame{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.ourGame p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.nameGame{
    font-weight: 550 !important;
    font-size: 25px !important;
    color: black;
    margin-top: 20px;
}
.card{
    transition: transform 0.5s;
}
.card:hover {
    transform: scale(1.1);
}
.card:hover > p{
    color: black;
    font-weight: 600 !important;
    
}


@media screen and (max-width: 600px) {
    .card img{
        width: 150px;
    }
    .listGame{
        gap: 10px;
        flex-wrap: nowrap;
        align-items: center;
        overflow: auto;
        justify-content: unset;
        padding: 0 20px;
        max-height: 240px;
        min-height: 232px;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .listGame::-webkit-scrollbar {
        display: none;
    }
    .ourGame p {
        font-size: 14px;
        line-height: 23px;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .listGame {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    .nameGame{
        font-size: 16px !important;
    }
}